In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
import datetime
import time
import swifter

In [2]:
AppLaunched=pd.read_csv('./Data/AppLaunched.csv',sep=',')
VideoDetails=pd.read_csv('./Data/VideoDetails.csv',sep=',')
UTMVisited=pd.read_csv('./Data/UTMVisited.csv',sep=',')
Registration=pd.read_csv('./Data/Registration.csv',sep=',')
AppUninstalled=pd.read_csv('./Data/AppUninstalled.csv',sep=',')
VideoStarted=pd.read_csv('./Data/VideoStarted.csv',sep=',')

In [3]:
AppLaunchedMod = AppLaunched.copy()
VideoDetailsMod = VideoDetails.copy()
UTMVisitedMod = UTMVisited.copy()
RegistrationMod = Registration.copy()
AppUninstalledMod = AppUninstalled.copy()
VideoStartedMod = VideoStarted.copy()

In [4]:
def dateConvert(d) :
    return datetime.datetime.strptime(str(d), '%Y%m%d')

def timeConvert(t) :
    return datetime.timedelta(minutes = int(t))

def secondConvert(s) :
    return datetime.timedelta(0,int(str(s)))

# Creating timestamp for all the datasets

In [5]:
AppLaunchedMod['DateTime'] = AppLaunchedMod['Date'].swifter.apply(lambda x: dateConvert(x)) + AppLaunchedMod['Minute_Of_Day'].swifter.apply(lambda y: timeConvert(y)) + AppLaunchedMod['Second'].swifter.apply(lambda z: secondConvert(z))
VideoDetailsMod['DateTime'] = VideoDetailsMod['Date'].swifter.apply(lambda x: dateConvert(x)) + VideoDetailsMod['Minute_Of_Day'].swifter.apply(lambda y: timeConvert(y)) + VideoDetailsMod['Second'].swifter.apply(lambda z: secondConvert(z))
UTMVisitedMod['DateTime'] = UTMVisitedMod['Date'].swifter.apply(lambda x: dateConvert(x)) + UTMVisitedMod['Minute_Of_Day'].swifter.apply(lambda y: timeConvert(y)) + UTMVisitedMod['Second'].swifter.apply(lambda z: secondConvert(z))
RegistrationMod['DateTime'] = RegistrationMod['Date'].swifter.apply(lambda x: dateConvert(x)) + RegistrationMod['Minute_Of_Day'].swifter.apply(lambda y: timeConvert(y)) + RegistrationMod['Second'].swifter.apply(lambda z: secondConvert(z))
AppUninstalledMod['DateTime'] = AppUninstalledMod['Date'].swifter.apply(lambda x: dateConvert(x)) + AppUninstalledMod['Minute_Of_Day'].swifter.apply(lambda y: timeConvert(y)) + AppUninstalledMod['Second'].swifter.apply(lambda z: secondConvert(z))
VideoStartedMod['DateTime'] = VideoStartedMod['Date'].swifter.apply(lambda x: dateConvert(x)) + VideoStartedMod['Minute_Of_Day'].swifter.apply(lambda y: timeConvert(y)) + VideoStartedMod['Second'].swifter.apply(lambda z: secondConvert(z))

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Dask Apply', max=16.0, style=ProgressStyle(description_wi…

# Registration

In [6]:
RegistrationMod.head()

,UserId,Date,Minute_Of_Day,Second,State,Country,Device,OS,Status,DateTime
0,d168e2b924124feaad13eae44a68fce9,20170106,0,8,35,1,1,2,Complete,2017-01-06 00:00:08
1,deed7490952a6746610ee2ee9fd219b7,20170106,0,8,7,40,1,1,Completed,2017-01-06 00:00:08
2,13d9f55e297d7d9c219fbe9085e1006c,20170106,0,28,35,1,1,2,Complete,2017-01-06 00:00:28
3,fccc2c0abf5afabf242a70df7b4c9e69,20170106,0,52,39,1,1,1,Completed,2017-01-06 00:00:52
4,9ff982b29d78cefc8eb5a3ffb7fd2a5d,20170106,0,52,38,1,1,1,Not Completed,2017-01-06 00:00:52

In [7]:
RegistrationMod.drop(columns={'Date','Minute_Of_Day','Second'},inplace=True)
RegistrationMod.head()

,UserId,State,Country,Device,OS,Status,DateTime
0,d168e2b924124feaad13eae44a68fce9,35,1,1,2,Complete,2017-01-06 00:00:08
1,deed7490952a6746610ee2ee9fd219b7,7,40,1,1,Completed,2017-01-06 00:00:08
2,13d9f55e297d7d9c219fbe9085e1006c,35,1,1,2,Complete,2017-01-06 00:00:28
3,fccc2c0abf5afabf242a70df7b4c9e69,39,1,1,1,Completed,2017-01-06 00:00:52
4,9ff982b29d78cefc8eb5a3ffb7fd2a5d,38,1,1,1,Not Completed,2017-01-06 00:00:52

# AppLaunched

In [8]:
AppLaunchedMod.head()

,UserId,Date,Minute_Of_Day,Second,State,Country,Device,OS,DateTime
0,a27134c322d4f56dabc106a6847cb96b,20170106,0,4,50,1,1,2,2017-01-06 00:00:04
1,aab39ad0874c59cc388525d511667f9d,20170106,0,8,40,1,1,2,2017-01-06 00:00:08
2,f717dc3f757dc18cc0c3f27ed3e94ef8,20170106,0,12,35,1,1,2,2017-01-06 00:00:12
3,04c1e14fd54a06c0d4fe98cf0cb8b04c,20170106,0,20,40,1,2,2,2017-01-06 00:00:20
4,71f05822bb699a04b694dd30265fdf73,20170106,0,20,35,1,1,2,2017-01-06 00:00:20

In [9]:
AppLaunchedMod.drop(columns={'Date','Minute_Of_Day','Second'},inplace=True)
AppLaunchedMod.head()

,UserId,State,Country,Device,OS,DateTime
0,a27134c322d4f56dabc106a6847cb96b,50,1,1,2,2017-01-06 00:00:04
1,aab39ad0874c59cc388525d511667f9d,40,1,1,2,2017-01-06 00:00:08
2,f717dc3f757dc18cc0c3f27ed3e94ef8,35,1,1,2,2017-01-06 00:00:12
3,04c1e14fd54a06c0d4fe98cf0cb8b04c,40,1,2,2,2017-01-06 00:00:20
4,71f05822bb699a04b694dd30265fdf73,35,1,1,2,2017-01-06 00:00:20

# VideoDetails

In [10]:
VideoDetailsMod.head()

,UserId,Date,Minute_Of_Day,Second,State,Genre,Category,ProgramType,Country,Device,OS,VideoId,DateTime
0,dc93d200565e5bf6e6fc55adb1c5ba06,20170106,0,4,35,Drama,vod,TV Shows,1,2,1,1f2dc23e0d2415353982cfa38cbaf983,2017-01-06 00:00:04
1,12060efd8b68ea562b265d0129a8af1f,20170106,0,16,35,Horror,vod,Movies,1,1,1,6c95441f239cebf9930ac5932cc84a7f,2017-01-06 00:00:16
2,9151ab2a901458f27e36548d4a8dc011,20170106,0,20,0,Drama,vod,TV Shows,255,1,1,1af000794c63fa2722e22af609ff572c,2017-01-06 00:00:20
3,1faf0ce0b98e02e1568702f516f01a78,20170106,0,20,35,Drama,vod,TV Shows,1,1,1,f053c42e98d50e06532ce8d65afb3ab3,2017-01-06 00:00:20
4,435d41ae019cb8db785483793859c9a8,20170106,0,20,35,Anime,vod,TV Shows,1,1,1,2a9d984659afc14f801548dd71ddad0e,2017-01-06 00:00:20

In [11]:
VideoDetailsMod.drop(columns={'Date','Minute_Of_Day','Second'},inplace=True)
VideoDetailsMod.head()

,UserId,State,Genre,Category,ProgramType,Country,Device,OS,VideoId,DateTime
0,dc93d200565e5bf6e6fc55adb1c5ba06,35,Drama,vod,TV Shows,1,2,1,1f2dc23e0d2415353982cfa38cbaf983,2017-01-06 00:00:04
1,12060efd8b68ea562b265d0129a8af1f,35,Horror,vod,Movies,1,1,1,6c95441f239cebf9930ac5932cc84a7f,2017-01-06 00:00:16
2,9151ab2a901458f27e36548d4a8dc011,0,Drama,vod,TV Shows,255,1,1,1af000794c63fa2722e22af609ff572c,2017-01-06 00:00:20
3,1faf0ce0b98e02e1568702f516f01a78,35,Drama,vod,TV Shows,1,1,1,f053c42e98d50e06532ce8d65afb3ab3,2017-01-06 00:00:20
4,435d41ae019cb8db785483793859c9a8,35,Anime,vod,TV Shows,1,1,1,2a9d984659afc14f801548dd71ddad0e,2017-01-06 00:00:20

# VideoStarted

In [12]:
VideoStartedMod.head()

,UserId,Date,Minute_Of_Day,Second,State,Genre,Category,ProgramType,Country,Device,OS,VideoId,DateTime
0,0280dfdd112732a3ac12b12dc770b7af,20170106,0,8,35,Romance,vod,Movies,1,1,2,36a27b379622f342ec87f9aafadb8f94,2017-01-06 00:00:08
1,435d41ae019cb8db785483793859c9a8,20170106,0,28,35,Anime,vod,TV Shows,1,1,1,a4d9b88c7ed63d723c70b358a857719c,2017-01-06 00:00:28
2,1faf0ce0b98e02e1568702f516f01a78,20170106,0,36,35,Drama,vod,TV Shows,1,1,1,806660cb47633263a24bbc53238a9a53,2017-01-06 00:00:36
3,3ec691b9d2b5d53ef965fe59b1900b30,20170106,0,48,35,Drama,vod,TV Shows,1,2,2,385114825a85d6878e7a0978f9ba5546,2017-01-06 00:00:48
4,ff230d487a7139b65f33b54a4cbd2d9e,20170106,0,56,35,Comedy,vod,Movies,1,1,1,368a480ec0ae105aee8320dd93483e39,2017-01-06 00:00:56

In [13]:
VideoStartedMod.drop(columns={'Date','Minute_Of_Day','Second'},inplace=True)
VideoStartedMod.head()

,UserId,State,Genre,Category,ProgramType,Country,Device,OS,VideoId,DateTime
0,0280dfdd112732a3ac12b12dc770b7af,35,Romance,vod,Movies,1,1,2,36a27b379622f342ec87f9aafadb8f94,2017-01-06 00:00:08
1,435d41ae019cb8db785483793859c9a8,35,Anime,vod,TV Shows,1,1,1,a4d9b88c7ed63d723c70b358a857719c,2017-01-06 00:00:28
2,1faf0ce0b98e02e1568702f516f01a78,35,Drama,vod,TV Shows,1,1,1,806660cb47633263a24bbc53238a9a53,2017-01-06 00:00:36
3,3ec691b9d2b5d53ef965fe59b1900b30,35,Drama,vod,TV Shows,1,2,2,385114825a85d6878e7a0978f9ba5546,2017-01-06 00:00:48
4,ff230d487a7139b65f33b54a4cbd2d9e,35,Comedy,vod,Movies,1,1,1,368a480ec0ae105aee8320dd93483e39,2017-01-06 00:00:56

# UTMVisited

In [14]:
UTMVisitedMod.head()

,UserId,Date,Minute_Of_Day,Second,State,Country,Device,OS,DateTime
0,66d4abf4f3b733c27591b3f47c85eff7,20170106,0,52,37,1,1,1,2017-01-06 00:00:52
1,1a40d7e5b34131b097fac80cf982241b,20170106,0,56,40,1,1,1,2017-01-06 00:00:56
2,b7b3c1ce773a13b52d39429e305ea615,20170106,1,16,35,1,1,1,2017-01-06 00:01:16
3,3f486a89433a02b96ab13b16c82e39fd,20170106,1,32,35,1,1,1,2017-01-06 00:01:32
4,9ff982b29d78cefc8eb5a3ffb7fd2a5d,20170106,1,32,38,1,1,1,2017-01-06 00:01:32

In [15]:
UTMVisitedMod.drop(columns={'Date','Minute_Of_Day','Second'},inplace=True)
UTMVisitedMod.head()

,UserId,State,Country,Device,OS,DateTime
0,66d4abf4f3b733c27591b3f47c85eff7,37,1,1,1,2017-01-06 00:00:52
1,1a40d7e5b34131b097fac80cf982241b,40,1,1,1,2017-01-06 00:00:56
2,b7b3c1ce773a13b52d39429e305ea615,35,1,1,1,2017-01-06 00:01:16
3,3f486a89433a02b96ab13b16c82e39fd,35,1,1,1,2017-01-06 00:01:32
4,9ff982b29d78cefc8eb5a3ffb7fd2a5d,38,1,1,1,2017-01-06 00:01:32

# AppUninstalled

In [16]:
AppUninstalledMod.head()

,UserId,Date,Minute_Of_Day,Second,State,Country,Device,OS,DateTime
0,0d5f4cc176a4e1c648a9b9b5dbe21d69,20170106,0,0,47,1,1,1,2017-01-06 00:00:00
1,807018f66aba113be576eb8afa4ea4b6,20170106,0,0,6,1,1,1,2017-01-06 00:00:00
2,763e66e04918d8b8a7e69a778f5a742a,20170106,1,0,41,1,1,1,2017-01-06 00:01:00
3,4ee1ed456fa04fc42168a9787b54b549,20170106,1,0,37,1,1,1,2017-01-06 00:01:00
4,253e758a5557f9de890e814d901f6906,20170106,6,0,46,40,1,1,2017-01-06 00:06:00

In [17]:
AppUninstalledMod.drop(columns={'Date','Minute_Of_Day','Second'},inplace=True)
AppUninstalledMod.head()

,UserId,State,Country,Device,OS,DateTime
0,0d5f4cc176a4e1c648a9b9b5dbe21d69,47,1,1,1,2017-01-06 00:00:00
1,807018f66aba113be576eb8afa4ea4b6,6,1,1,1,2017-01-06 00:00:00
2,763e66e04918d8b8a7e69a778f5a742a,41,1,1,1,2017-01-06 00:01:00
3,4ee1ed456fa04fc42168a9787b54b549,37,1,1,1,2017-01-06 00:01:00
4,253e758a5557f9de890e814d901f6906,46,40,1,1,2017-01-06 00:06:00

# Modified Datasets

In [18]:
AppLaunchedMod.to_csv(path_or_buf='AppLaunchedMod.csv',sep=',',index=False)
VideoDetailsMod.to_csv(path_or_buf='VideoDetailsMod.csv',sep=',',index=False)
UTMVisitedMod.to_csv(path_or_buf='UTMVisitedMod.csv',sep=',',index=False)
RegistrationMod.to_csv(path_or_buf='RegistrationMod.csv',sep=',',index=False)
AppUninstalledMod.to_csv(path_or_buf='AppUninstalledMod.csv',sep=',',index=False)
VideoStartedMod.to_csv(path_or_buf='VideoStartedMod.csv',sep=',',index=False)